<div class="container-fluid">

  <div class="panel panel-default">
    <div class="panel-body">

      <div class="row">
        <div class="col-md-12 lead">
          Player Profile

          <button *ngIf="!userFollowing" (click)="followPlayer()" type="button" class="btn btn-sm btn-primary pull-right">Follow</button>
          <button *ngIf="userFollowing" (click)="unfollowPlayer()" type="button" class="btn btn-sm btn-danger pull-right">Unfollow</button>

          <hr>
        </div>
      </div>

      <div class="row">

        <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">

          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object img-circle avatar avatar-original" src="{{(playerData | async)?.avatar}}"
                     alt="{{(playerData | async)?.first_name}} {{(playerData | async)?.last_name}}">
              </a>
            </div>
            <div class="media-body">
              <h3 class="media-heading">{{(playerData | async)?.first_name}} {{(playerData | async)?.last_name}}</h3>

              <em> Age:</em> {{(playerData | async)?.age}} <br>
              <em> Height:</em> {{(playerData | async)?.height}}cm <br>
              <em> Weight:</em> {{(playerData | async)?.weight}}kg <br>
              <em> Gender:</em> {{(playerData | async)?.gender}} <br>
              <em> Teams:</em> <br>
          <div *ngFor="let team of playerTeams">
            <div class="list-group-item list-group-item-action media">
              <div class="media-left">
                <a href="#">
                  <img class="team-image" src="{{(getTeam(team.$key))?.avatar}}" alt="{{(getTeam(team.$key))?.name}}">
                </a>
              </div>
              <div class="media-body">
                <a (click)="sendToTeam(team.$key)">{{(getTeam(team.$key))?.name}}</a>
              </div>
            </div>
          </div>
          <em> Clubs:</em>
          <div *ngFor="let team of playerTeams">
            <div class="list-group-item list-group-item-action media">
              <div class="media-left">
                <a href="#">
                  <img class="team-image" src="{{(getClub(team.$key))?.avatar}}" alt="{{(getClub(team.$key))?.name}}">
                </a>
              </div>
              <div class="media-body">
                <a (click)="sendToClub(getClub(team.$key)?.id)">{{(getClub(team.$key))?.name}}</a>
              </div>
            </div>
          </div>
      </div>
      </div>

</div>
</div>
      <br>
      <hr>

      <div class="row">
        <div class ="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
          <h4>Bio:</h4>
          {{(playerData | async)?.bio}}
        </div>
      </div>

      <br>
      <hr>

      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
          <h4>Posts:</h4>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <app-post *ngFor="let post of playerPosts " [post]="post"></app-post>
        </div>
      </div>

    </div>
  </div>
</div>
