<!DOCTYPE html>
<html lang="en">
<head>
  <title>Player</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" rel="stylesheet"/>
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
          integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
          crossorigin="anonymous"></script>
  <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
  <script src="https://npmcdn.com/bootstrap@4.0.0-alpha.5/dist/js/bootstrap.min.js"></script>
  <meta charset="UTF-8">

</head>
<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 text-left">

      <!-- MEDIA ITEM FOR PLAYER CARD -->
      <h1>{{(playerData | async)?.first_name}} {{(playerData | async)?.last_name}}</h1>


    </div>
  </div>
</div>
<br>
<div class="pad">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <app-post *ngFor="let post of playerPosts " [post]="post"></app-post>
      </div>
    </div>
  </div>
</div>

</body>
</html>
