<!-- display all players followed by current user in an active list with links to each player -->
<div class="container-fluid">
  <div class="list-group">
    <a class="list-group-item active lead text-center"> {{"PlayersFollowed.Players" | translate}} </a>
    <div *ngFor="let player of followingPlayers | async" class="list-group-item list-group-item-action">
      <div class="row">
        <a (click)="sendToPlayer(player.id)"> {{player.first_name + " " + player.last_name}} </a>
        <button *ngIf="currentUser === userId" type="button" class="btn btn-primary btn-xs btn-danger pull-right" (click)="unfollowPlayer(player.id)">{{"Unfollow" | translate}}</button>
      </div>
    </div>
  </div>
</div>
