<!-- display all clubs followed by current user in an active list with links to each club -->
<div class="container-fluid">
  <div class="list-group">
    <a class="list-group-item active lead text-center"> {{"ClubsFollowed.Clubs" | translate}} </a>
    <div *ngFor="let club of followingClubs | async" class="list-group-item list-group-item-action">
      <div class="row">
        <a (click)="sendToClub(club.id)"> {{club.name}} </a>
        <button *ngIf="currentUser === userId" type="button" class="btn btn-primary btn-xs btn-danger pull-right" (click)="unfollowClub(club.id)">{{"Unfollow" | translate}}</button>
      </div>
    </div>
  </div>
</div>
