

/*//===================================================================
//  SIGN-IN
//===================================================================*/

.sign-in {
  display: block;
  margin: 0 auto;
  max-width: 300px;
}

.sign-in__heading {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 36px;
  text-align: center;
}

.sign-in__button {
  background: transparent;
  border: 1px solid #555;
  color: #999;
  font-family: inherit;
  font-size: 18px;
  height: 48px;
  line-height: 48px;
  margin-bottom: 10px;
  padding: 0;
  width: 100%;
}

.avatar {
  /* This image is 687 wide by 1024 tall, similar to your aspect ratio */

  /* center the image vertically and horizontally */
  background-position: center;

  /* fill the container, preserving aspect ratio, and cropping to fit */
  background-size: cover;

  /* round the edges to a circle with border radius 1/2 container size */
  border-radius: 50%;

  /* make a square container */
  height: 150px;
  width: 150px;

}

/*:hover {
    border: 2px solid #aaa;
    line-height: 46px;
    //border-color: #aaa;
  }*/
