<!DOCTYPE html>
<html>
<head>
  <title> GRNFanZone </title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7" />

</head>
<body>
<app-navbar></app-navbar>
<div class="container">

    <div class="row">
  		<div class="col-md-6">
        </div>
        <div class="col-md-6 text-right">
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-secondary" (click)="translate.setDefaultLang('en')"><span class="flag-icon flag-icon-gb"></span></button>
            <button type="button" class="btn btn-secondary" (click)="translate.setDefaultLang('ro')"><span class="flag-icon flag-icon-ro"></span></button>
            <button type="button" class="btn btn-secondary" (click)="translate.setDefaultLang('jp')"><span class="flag-icon flag-icon-jp"></span></button>
            <button type="button" class="btn btn-secondary" (click)="translate.setDefaultLang('ru')"><span class="flag-icon flag-icon-ru"></span></button>
            <button type="button" class="btn btn-secondary" (click)="translate.setDefaultLang('gr')"><span class="flag-icon flag-icon-gr"></span></button>
          </div>
    	</div>
    </div>

  <router-outlet></router-outlet>

</div>
</body>
</html>
