

/*//===================================================================
//  SIGN-IN
//===================================================================*/

.sign-in {
  display: block;
  margin: 0 auto;
  max-width: 300px;
}

.sign-in__heading {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 36px;
  text-align: center;
}

.sign-in__button {
  background: transparent;
  border: 1px solid #555;
  color: #999;
  font-family: inherit;
  font-size: 18px;
  height: 48px;
  line-height: 48px;
  margin-bottom: 10px;
  padding: 0;
  width: 100%;
}


/*:hover {
    border: 2px solid #aaa;
    line-height: 46px;
    //border-color: #aaa;
  }*/
