<!DOCTYPE html>

<navbar></navbar>

<div class="jumbotron">
  <div class="container">

    <router-outlet></router-outlet>

    <img *ngIf="photoURL" src="{{ photoURL }}" alt="">


    <div class="g-row sign-in">
      <div class="g-col">
        <h1 class="sign-in__heading">Sign in</h1>
        <button class="sign-in__button" (click)="signInAnonymously()" type="button">Anonymously</button>
        <button class="sign-in__button" (click)="af.login('facebook')" type="button">Facebook</button>
        <button class="sign-in__button" (click)="af.login('google')" type="button">Google</button>
        <button class="sign-in__button" (click)="af.logout()">Logout</button>
      </div>
    </div>


  </div>
</div>
