.unlike {
  color: black;
}

.post-image {
  border-radius: 10%;
  height: 64px;
  width: 64px;
}

.post-text {
  max-height: 12em;
  overflow-y: scroll;
  text-align: justify;
  text-justify: inter-word;
  white-space: pre-wrap;
}

.comment-layout {
    margin-left: 50px;
    margin-right: 50px;
    overflow: hidden;
}

.comment-image {
  border-radius: 10%;
  height: 48px;
  width: 48px;
}


.show {
  margin-right: 10px;
}
