.unlike {
  color: black;
}

.post-image {
  border-radius: 10%;
  height: 64px;
  width: 64px;
}

.post-content {
  max-height: 12em;
  overflow-y: scroll;
  white-space: pre-wrap;
}

.comment-image {
  border-radius: 10%;
  height: 48px;
  width: 48px;
}

.show {
  margin-right: 10px;
}
