<div *ngIf="post">

  <div class="row">
    <div class="col-xs-12 col-xs-offset-0 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">
            <a>{{post.name}}</a>
          </h2>
        </div>
        <div class="panel-body">

          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="{{post.image}}" alt="Avatar for {{post.name}}">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading"> {{post.title}} </h4>
              <i>{{(post.created_at | date)}}</i> <br>

              {{post.text}}

            </div>
          </div>

          <hr>

          <div class="row">
            <div class="col-sm-12">
              <b>{{likes.length}} likes</b>
              <button *ngIf="likes.indexOf(currentUserId) !== -1" type="button" class="btn btn-primary pull-right btn-sm" (click)="likeToggle(currentUserId)">
                <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
              </button>
              <button *ngIf="likes.indexOf(currentUserId) === -1" type="button" class="btn btn-primary pull-right btn-sm" (click)="likeToggle(currentUserId)">
                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
              </button>
            </div>
          </div>

        </div>
        <div class="panel-footer">

          <ul class="list-group">
            <li *ngFor="let postComment of comments" class="list-group-item">

              {{postComment.comment}}

              <button type="button" class="btn btn-danger btn-sm pull-right" (click)="deleteComment(postComment.$key, post.id)">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              </button>

              <br>

              <small><em>{{postComment.commented_at | amTimeAgo}}</em></small>

            </li>
          </ul>

          <br>

          <div class="form-group">
            <label>Comment:</label>
            <input type="text" #newComment/>
            <button class="btn btn-primary btn-sm pull-right" (click)="addComment(newComment.value, post.id)">Add</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
