<div *ngIf="post">

  <div class="row">
    <div class="col-xs-12 col-xs-offset-0 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">
            <a>{{post.name}}</a>
          </h2>
        </div>
        <div class="panel-body">
          <b>{{post.title}} </b> - {{(post.created_at | date)}} <br>
          {{post.text}}

          <hr>

          <div class="row">
            <div class="col-sm-12">
              <b>{{likes.length}} likes</b>
              <span *ngIf="likes.indexOf(currentUserId) === -1" (click)="likeToggle(currentUserId)" class="glyphicon glyphicon-thumbs-up pull-right"></span>
              <span *ngIf="likes.indexOf(currentUserId) !== -1" (click)="likeToggle(currentUserId)" class="glyphicon glyphicon-thumbs-down pull-right"></span>
            </div>
          </div>

        </div>
        <div class="panel-footer">

          <ul class="list-group">
            <li *ngFor="let postComment of comments" class="list-group-item">
              {{postComment.comment}}
            </li>
          </ul>

          <br>

          <div class="form-group">
            <label>Comment:</label>
            <input type="text" #newComment/>
            <button class="btn btn-primary btn-sm pull-right" (click)="addComment(newComment.value, post.id)">Add</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
