<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#clubs" role="tab">{{"List.Clubs" | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#teams" role="tab">{{"List.Teams" | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#players" role="tab">{{"List.Players" | translate}}</a>
        </li>
      </ul>
      <div class="tab-content">
        <div id="clubs" class="tab-pane active" role="tabpanel">
          <div class="list-group">
            <div *ngFor="let club of clubs | async">
              <a (click)="sendToClub(club.id)" class="list-group-item list-group-item-action">
                {{club.name}}
              </a>
            </div>
          </div>
        </div>
        <div id="teams" class="tab-pane" role="tabpanel">
          <div class="list-group">
            <div *ngFor="let team of teams | async">
              <a (click)="sendToTeam(team.id)" class="list-group-item list-group-item-action">
                {{team.name}}
              </a>
            </div>
          </div>
        </div>
        <div id="players" class="tab-pane" role="tabpanel">
          <div class="list-group">
            <div *ngFor="let player of players | async">
              <a (click)="sendToPlayer(player.id)" class="list-group-item list-group-item-action">
                {{player.first_name + " " + player.last_name}}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
