<div class="container-fluid">
  <div class="list-group">
    <a class="list-group-item active lead text-center"> {{"TeamsFollowed.TeamsFollowed"| translate}} </a>
    <div *ngFor="let team of followingTeams | async" class="list-group-item list-group-item-action">
      <div class="row">
        <a (click)="sendToTeam(team.id)"> {{team.name}} </a>
        <button *ngIf="currentUser === userId" type="button" class="btn btn-primary btn-xs btn-danger pull-right"
                (click)="unfollowTeam(team.id)">{{"Unfollow"| translate}}
        </button>
      </div>
    </div>
  </div>
</div>
