<!DOCTYPE html>
<!-- Latest compiled and minified CSS -->
<html lang="en" ng-app="skeleton_app">

<head>
  <title>User Profile</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7" />
</head>

<body>
  <br>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12 lead">User profile
                <hr>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 text-center">
                <!--TODO Image is photourl-->
                <img class="img-circle avatar avatar-original" style="-webkit-user-select:none;
              display:block; margin:auto;" src="{{(profileData | async)?.avatar}}">
              </div>
              <div class="col-md-8">
                <div class="row">
                  <div class="col-md-12">
                    <!--TODO DISPLAYNAME GOES HERE-->
                    <h1 class="only-bottom-margin"> {{(profileData | async)?.name}} </h1>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <!--TODO: Add email-->
                    <span class="text-muted">Email:</span> {{(profileData | async)?.email}} <br>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-12 lead">Following</div>
            </div>
            <div class="row">
              <div class="col-md-6 ">
                <div class="list-group" *ngIf="followingTeams">
                  <a class="list-group-item active lead text-center"> Teams </a>
                  <a (click)="sendToPlayer(team.id)" class="list-group-item list-group-item-action" *ngFor="let team of followingTeams | async">
                    {{team.name}}
                  </a>
                </div>
              </div>
              <div class="col-md-6 ">
                <div class="list-group" *ngIf="followingPlayers">
                  <a class="list-group-item active lead text-center"> Players </a>
                  <a (click)="sendToPlayer(player.id)" class="list-group-item list-group-item-action" *ngFor="let player of followingPlayers | async">
                    {{player.first_name + " " + player.last_name}}
                  </a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 text-center" *ngIf="profileData.followed_teams">
                <a routerLink="/teamsFollowed">See all</a>
              </div>
              <div class="col-md-6 text-center" *ngIf="profileData.followed_players">
                <a routerLink="/playersFollowed">See all</a>
              </div>
            </div>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
