<!-- display message if user follows some entities, but none have any posts -->
<div *ngIf="posts?.length === 0 && postsRetrieved === true && followed === true" class="alert alert-warning" role="alert">

  Looks like nobody you follow has posted anything yet!
  Please follow some more players, teams or clubs to view their posts. You can
  discover more by searching! :)

</div>

<br>
<!-- display posts -->
<app-post *ngFor="let post of shownPosts " [post]="post"></app-post>
<!-- infinite scroll -->
<div class="row"
    infinite-scroll
    (scrolled)="showMore()">
</div>
