<!DOCTYPE html>
<!-- Latest compiled and minified CSS -->
<html lang="en" ng-app="skeleton_app">
  <head>
      <link rel="stylesheet" href="/code/server/styles/regStyle.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>GRN FanZone</title>
<script src="https://www.gstatic.com/firebasejs/3.6.1/firebase.js"></script>
<script src="https://cdn.firebase.com/libs/firebaseui/1.0.0/firebaseui.js"></script>
<link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/1.0.0/firebaseui.css" />
<script>
  var config = {
    apiKey: "AIzaSyCoo25Hw0ftCZHYtQx73gOvbu7SS4YCXW8",
    authDomain: "grnfanzone.firebaseapp.com",
    databaseURL: "https://grnfanzone.firebaseio.com",
    storageBucket: "grnfanzone.appspot.com",
    messagingSenderId: "90265713781"
  };
  firebase.initializeApp(config);
</script>
<script type="text/javascript">
      // FirebaseUI config.
      var uiConfig = {
        'signInSuccessUrl': 'login-success.html',
        'signInOptions': [
          // Leave the lines as is for the providers you want to offer your users.
          firebase.auth.GoogleAuthProvider.PROVIDER_ID,
          firebase.auth.FacebookAuthProvider.PROVIDER_ID,
          firebase.auth.TwitterAuthProvider.PROVIDER_ID,
          firebase.auth.EmailAuthProvider.PROVIDER_ID
        ],
        // Terms of service url.
        'tosUrl': '<your-tos-url>',
      };

      // Initialize the FirebaseUI Widget using Firebase.
      var ui = new firebaseui.auth.AuthUI(firebase.auth());
      // The start method will wait until the DOM is loaded.
      ui.start('#firebaseui-auth-container', uiConfig);
    </script>
    <script>
    $(function(){
      $("#includedContent").load("index.html");
    });
    </script>
	</head>
  <body>
      <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
       <div id="includedContent"></div>
      <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet" type="text/css">
      <div class="row">
<div class="col-sm-5">
<div class="container-fluid">
	 <form action="" method="" class="register-form">
         <label >REGISTER</label>
         <br>
      <div class="row">
           <div class="col-md-4 col-sm-4 col-lg-4">
              <label for="firstName">Name</label>
               <input name="firstName" class="form-control" type="text">
           </div>
      </div>
      <div class="row">
           <div class="col-md-4 col-sm-4 col-lg-4">
              <label for="email">Email</label>
               <input name="email" class="form-control" type="email">
           </div>
      </div>
      <div class="row">
           <div class="col-md-4 col-sm-4 col-lg-4">
              <label for="password">Password</label>
               <input name="password" class="form-control" type="password">
           </div>
      </div>
      <hr>
           <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
           <button class="btn btn-default regbutton">Sign Up</button>

      </div>
    </form>
    </div>
      </div>
<div class="col-sm-2" >
    <div class="omb_login">
		<div class="row omb_loginOr">

				<hr class="omb_hrOr">
				<span class="omb_spanOr">or</span>

 </div>
    </div>
          </div>
<div class="col-sm-5">
    <div class="signIn">
     <div id="firebaseui-auth-container"></div>
      </div>
          </div>
      </div>
    </body>
</html>
