<html lang="en" ng-app="skeleton_app">
  <head>
    <link rel="stylesheet" href="/code/server/styles/navStyle.css">
      <link rel="stylesheet" href="/code/server/styles/carousel.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
<script> 
    $(function(){
      $("#includedContent").load("logedInNavBar.html"); 
    });
    </script>     
      <script>
          $(function() {
    $('#Carousel').carousel({
        interval: 5000
    })
});
      </script>
</head>
    <body>
    <div id="includedContent"></div>
        <br>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12 lead">User profile<hr></div>
          </div>
          <div class="row">
			<div class="col-md-4 text-center">
              <img class="img-circle avatar avatar-original" style="-webkit-user-select:none; 
              display:block; margin:auto;" src="http://robohash.org/sitsequiquia.png?size=120x120">
            </div>
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-12">
                  <h1 class="only-bottom-margin">User Name</h1>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <span class="text-muted">Name :</span> Test<br>
                  <span class="text-muted">Birth date:</span> 01.01.2001<br>
                  <span class="text-muted">Gender:</span> male<br>
                  <small class="text-muted">Created: 01.01.2017</small>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button class="btn btn-default pull-right"><a href="editProfile.html"><i class="glyphicon glyphicon-pencil"></i> Edit</a></button>
            </div>
          </div>
             <hr>
            <div class="row">
                <div class="col-md-12 lead"> Teams followed</div>
            </div>
            <div class="row">
            <div class="col-md-12">
                <div id="Carousel" class="carousel slide">
                 
                <ol class="carousel-indicators">
                    <li data-target="#Carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#Carousel" data-slide-to="1"></li>
                    <li data-target="#Carousel" data-slide-to="2"></li>
                </ol>
                 
                <!-- Carousel items -->
                <div class="carousel-inner">
                    
                <div class="item active">
                	<div class="row">
                        <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a><button class = "btn btn-default pull-right" style="align:center"><i class="glyphicon glyphicon-remove-sign"></i> Unfollow </button></div>
                	  <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a><button class = "btn btn-default pull-right" style="align:center"><i class="glyphicon glyphicon-remove-sign"></i> Unfollow </button></div>
                	  <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a><button class = "btn btn-default pull-right" style="align:center"><i class="glyphicon glyphicon-remove-sign"></i> Unfollow </button></div>
                	  <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a><button class = "btn btn-default pull-right" style="align:center"><i class="glyphicon glyphicon-remove-sign"></i> Unfollow </button></div>
                	</div><!--.row-->
                </div><!--.item-->
                 
                <div class="item">
                	<div class="row">
                		<div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a><button class = "btn btn-default pull-right" style="align:center"><i class="glyphicon glyphicon-remove-sign"></i> Unfollow </button></div>
                		<div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a><button class = "btn btn-default pull-right" style="align:center"><i class="glyphicon glyphicon-remove-sign"></i> Unfollow </button></div>
                		<div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a><button class = "btn btn-default pull-right" style="align:center"><i class="glyphicon glyphicon-remove-sign"></i> Unfollow </button></div>
                		<div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a><button class = "btn btn-default pull-right" style="align:center"><i class="glyphicon glyphicon-remove-sign"></i> Unfollow </button></div>
                	</div><!--.row-->
                </div><!--.item-->
                 
                <div class="item">
                	<div class="row">
                		<div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a><button class = "btn btn-default pull-right" style="align:center"><i class="glyphicon glyphicon-remove-sign"></i> Unfollow </button></div>
                		<div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a><button class = "btn btn-default pull-right" style="align:center"><i class="glyphicon glyphicon-remove-sign"></i> Unfollow </button></div>
                		<div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a><button class = "btn btn-default pull-right" style="align:center"><i class="glyphicon glyphicon-remove-sign"></i> Unfollow </button></div>
                		<div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a><button class = "btn btn-default pull-right" style="align:center"><i class="glyphicon glyphicon-remove-sign"></i> Unfollow </button></div>
                	</div><!--.row-->
                </div><!--.item-->
                 
                </div><!--.carousel-inner-->
                  <a data-slide="prev" href="#Carousel" class="left carousel-control">‹</a>
                  <a data-slide="next" href="#Carousel" class="right carousel-control">›</a>
                </div><!--.Carousel-->
                 
		</div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12 lead"> Players followed</div>
            </div>
            <div class="row">
            <div class="col-md-12">
                <div id="Carousel" class="carousel slide">
                 
                <ol class="carousel-indicators">
                    <li data-target="#Carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#Carousel" data-slide-to="1"></li>
                    <li data-target="#Carousel" data-slide-to="2"></li>
                </ol>
                 
                <!-- Carousel items -->
                <div class="carousel-inner">
                    
                <div class="item active">
                	<div class="row">
                	  <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a><button class = "btn btn-default pull-right" style="align:center"><i class="glyphicon glyphicon-remove-sign"></i> Unfollow </button></div>
                	  <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a><button class = "btn btn-default pull-right" style="align:center"><i class="glyphicon glyphicon-remove-sign"></i> Unfollow </button></div>
                	  <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a><button class = "btn btn-default pull-right" style="align:center"><i class="glyphicon glyphicon-remove-sign"></i> Unfollow </button></div>
                	  <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a><button class = "btn btn-default pull-right" style="align:center"><i class="glyphicon glyphicon-remove-sign"></i> Unfollow </button></div>
                	</div><!--.row-->
                </div><!--.item-->
                 
                <div class="item">
                	<div class="row">
                		<div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a><button class = "btn btn-default pull-right" style="align:center"><i class="glyphicon glyphicon-remove-sign"></i> Unfollow </button></div>
                		<div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a><button class = "btn btn-default pull-right" style="align:center"><i class="glyphicon glyphicon-remove-sign"></i> Unfollow </button></div>
                		<div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a><button class = "btn btn-default pull-right" style="align:center"><i class="glyphicon glyphicon-remove-sign"></i> Unfollow </button></div>
                		<div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a><button class = "btn btn-default pull-right" style="align:center"><i class="glyphicon glyphicon-remove-sign"></i> Unfollow </button></div>
                	</div><!--.row-->
                </div><!--.item-->
                 
                <div class="item">
                	<div class="row">
                		<div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a><button class = "btn btn-default pull-right" style="align:center"><i class="glyphicon glyphicon-remove-sign"></i> Unfollow </button></div>
                		<div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a><button class = "btn btn-default pull-right" style="align:center"><i class="glyphicon glyphicon-remove-sign"></i> Unfollow </button></div>
                		<div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a><button class = "btn btn-default pull-right" style="align:center"><i class="glyphicon glyphicon-remove-sign"></i> Unfollow </button></div>
                		<div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a><button class = "btn btn-default pull-right" style="align:center"><i class="glyphicon glyphicon-remove-sign"></i> Unfollow </button></div>
                	</div><!--.row-->
                </div><!--.item-->
                 
                </div><!--.carousel-inner-->
                  <a data-slide="prev" href="#Carousel" class="left carousel-control">‹</a>
                  <a data-slide="next" href="#Carousel" class="right carousel-control">›</a>
                </div><!--.Carousel-->
                 
		</div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
    </body>
</html>